@use "../abstracts/index" as *;

.accordion {
    padding-bottom: 50px;
    > * {
      width: 100%;
    }
    button {
      background-color: $pinkWhite;
      border-bottom: 1px solid #e1d7ee;
      color: #2d2b34;
      font-size: 18px;
      line-height: 2.1;
      padding: 24px 20px;
      transition: border-bottom $timing-function;
      height: auto;
     svg {
       box-sizing: content-box;
       background-color: $black;
       border-radius: 50%;
       color: $pink;
       font-size: 13px;
       margin-right: 20px;
       padding: 8px;
       transition: background-color $timing-function;
      }
      &:focus-visible svg,
      &:hover svg,
      &[aria-expanded="true"] svg {
        background-color: $lightPurple;
        color: $black;
      }
      &[aria-expanded="true"] {
        border-bottom: 0px solid #e1d7ee;
      }
    }
    > li:last-child button {
      border-bottom: 0px solid #e1d7ee;
    }
  }
  div.accordion-content {
    margin-bottom: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: height .5s ease-in-out, margin-bottom .5s ease-in-out, max-height .5s ease-in-out, padding .3s ease-in-out; 
    max-height: 0;
    height: 0;
    .accordion button:not([aria-expanded="true"]) + & > * {
      display: none;
    }
    .accordion button[aria-expanded="true"] + & {
      margin-bottom: 20px;
      padding: 2px 18px;
      max-height: 5000px;
      height: 100%;
    }
  }
  