@use "../abstracts/index" as *;

ol.numbered-icons.medal-criteria {
    > li {
        &:first-child:before {
            background-color: #8a7400;
        }
        &:nth-child(2):before {
            background-color: #737373;
        }
        &:nth-child(3):before {
            background-color: #a2652a;
        }
    }
    + [class*="max-"] {
        margin-left: 0;
    } 
}
.particle-game {
    background: url("../../assets/wood-background.jpg") right / cover;
    border: 11px solid $black;
    box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55), inset 1px 1px 0 rgba(255, 255, 255, 0.9), inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0.5px 0.5px 0.5px #693681);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 500px;
    max-width: calc(100% - 40px);
    &:not(.done) {
        cursor: grabbing;
    }
    + .button {
        position: relative;
        z-index: 1;
    }
    canvas {
        display: block;
        height: 100%;
        position: absolute;
        @include positioning(0, auto, auto, 0);
        filter: drop-shadow(1px 1px 0px #00000061);
        + div {
            height: 100%;
            position: absolute;
            @include positioning(0, auto, auto, 0);
        }
    }
    .completion-message {
        align-items: center;
        background-color: white;
        flex-direction: column;
        font-family: $sourceSans;
        font-size: 24px;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        svg {
            animation: spin 2.4s infinite;
            display: block;
            font-size: 60px;
            margin: 0 auto;
        }
    }
}
