$black: #12121c;
$white: #f5eef7;
$pinkWhite: #e5d4ed;
$pink: #eee3f2;
$purple: #794e8d;
$lightPurple: #a8a0d9;
$gradientPurple: #794e8e;
$gradientPink: #ae4971;
$gradientLightPurple: #a8a1d9;
$radialOverlay: radial-gradient(rgba(255, 255, 255, 0.743) 0%, rgba(255, 255, 255, 0.498) 100%);