@use "../abstracts/index" as *;

.about {
    border-bottom: 5px solid;
    background: #f9ddda url("../../assets/images/clouds.jpg") fixed center / cover repeat ;
    &.overlay:before {
        background-image: $radialOverlay, linear-gradient(-30deg, rgba(0, 247, 255, 0.08) 0%, #0000 15%, #0000 80%, rgba(0, 247, 255, 0.08) 100%);
    }
    > div {
        min-height: calc(80vh - 34px);
        div:first-child {
            padding: 18vh 20px 106px 0;
        }
    }
    img {
        filter: grayscale(0.42) saturate(1.67) brightness(0.99);
    }
}