.about {
    border-bottom: 5px solid;
    background: #f9ddda url("../../assets/clouds.jpg") fixed center / cover repeat ;
    &.overlay:before {
        background-image: radial-gradient(rgba(255, 255, 255, 0.743) 0%, rgba(255, 255, 255, 0.498) 100%), linear-gradient(-30deg, rgba(0, 247, 255, 0.08) 0%, #0000 15%, #0000 80%, rgba(0, 247, 255, 0.08) 100%);
    }
    + div {
        padding: 100px 0;
    }
    > div {
        align-items: flex-end;
        justify-content: center;
        min-height: calc(80vh - 34px);
        div:first-child {
            padding: 18vh 20px 106px 0;
            align-self: center;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    p.separator {
        margin-top: 0;
    }
    p:not(.separator) {
        margin-top: 30px;
    }
    img {
        padding-top: 20px;
        display: inline-block;
        filter: grayscale(0.42) saturate(1.67) brightness(0.99);
    }
}
// overlay sun effect 

// linear-gradient(45deg, hsla(0, 0%, 100%, 1) 90%, hsla(40, 100%, 50%, 1) 100%);