@use "../abstracts/index" as *;

.skills {
  .oval {
    @include positioning(absolute, 3%, 5%, 3%, 5%)
  }
  .skills-list {
    li .skill-icon-box {
      min-height: 44.25px;
      i,
      svg {
        font-size: 2.5rem;
      }
      img {
        width: 76px;
      }
    }
  }
}
