.about {
    background-color: #f9ddda;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    border-bottom: 5px solid;
    &.bg-image {
        background-image: url("../assets/clouds.jpg");
    }
    + div {
        padding: 100px 0;
    }
    > div {
        align-items: flex-end;
        justify-content: center;
        min-height: calc(80vh - 34px);
        div:first-child {
            padding: 18vh 20px 106px 0;
            align-self: center;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    p.separator {
        margin-top: 0;
    }
    p:not(.separator) {
        margin-top: 30px;
    }
    img {
        padding-top: 20px;
        opacity: 0.9;
        display: inline-block;
    }
}
