@import "./variables";

footer {
  background-color: $pinkwhite;
  border-top: 1px solid $lightpurple;
  > div {
    justify-content: space-between;
    padding: 35px 0;
    p {
      color: $black;
      margin: 0;
      font-size: 16px;
      padding: 0 10px;
    }
    a {
      text-decoration: none;
      &:hover, &:focus-visible {
        .fa-github.svg-inline--fa {
          color: $purple;
        }
      }
      .fa-github.svg-inline--fa {
        margin-left: 5px;
      }
    }
  }
}
