footer {
    background-color: #e5d4ed;
    border-top: 1px solid #A8A0D9;
    > div {
      justify-content: space-between;
      padding: 35px 0;
      * {color: #212738; }
      a:hover{ color: #794E8D; }
      .fa-github.svg-inline--fa { margin-left: 5px; }
    }
}