.about {
    border-bottom: 5px solid;
    background: #f9ddda url("../assets/clouds.jpg") fixed center / cover repeat ;
    + div {
        padding: 100px 0;
    }
    > div {
        align-items: flex-end;
        justify-content: center;
        min-height: calc(80vh - 34px);
        div:first-child {
            padding: 18vh 20px 106px 0;
            align-self: center;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    p.separator {
        margin-top: 0;
    }
    p:not(.separator) {
        margin-top: 30px;
    }
    img {
        padding-top: 20px;
        display: inline-block;
        filter: grayscale(0.42) saturate(1.67) brightness(0.99);
    }
}