.skills {
  position: relative;
  margin: 100px auto;
  .oval {
    bottom: 3%;
    left: 5%;
    right: 5%;
    top: 3%;
  }
  .iconContainer.contactJump {
    margin-top: 45px;
  }
  .skillsGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    li {
      margin: 30px 0;
    }
    li .skillsIconBox {
      padding: 0 10px;
      width: 100%;
      + p {
        margin-top: 5px;
      }
      i,
      svg {
        font-size: 2.5rem;
        width: 100%;
        max-width: 75px;
      }
    }
  }
}
