$timing-function: 0.2s ease-in-out;
$base-margin: 0 20px;
$black: #12121c;
$white: #f5eef7;

$pinkwhite: #e5d4ed;
$pink: #eee3f2;
$purple: #794e8d;
$lightpurple: #a8a0d9;
$gradientpurple: #794e8e;
$gradientpink: #ae4971;
$gradientlightpurple: #a8a1d9;