html {
    background-color: #f8f3f9;
}
body {
    color: #12121c;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
    font-weight: 500;
}
h1,
h2 {
    font-weight: 400;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
header {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
section>div {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;
}
form {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 1.25rem;
    text-align: left;
}
form button {
    font-size: 1.25rem;
    margin: 1.25rem 0;
}
fieldset {
    border: 0;
    margin-bottom: 1.25rem;
    padding: 0;
}
label {
    display: inline-block;
    font-size: 1.25rem;
    margin: 1rem 0;
}
input,
textarea {
    background-color: #f8f3f9;
    border: 0.125rem solid;
    border-radius: 0.125rem;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.125rem;
    padding: 0.625rem;
    width: 100%;
}
.flex {
    display: flex;
}
footer {
    text-align: center;
}
.disclaimer {
    background-image: linear-gradient(90deg, #655d98 0%, #ae4971 50%, #794e8e 70%);
    color: white;
    margin: 0;
    padding: 1.25rem;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.skills-list li {
    display: block;
    font-weight: 500;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
    max-width: 33.33%;
}
@media (max-width: 630px) {
    .skills-list {
        display: block;
    }
    .skills-list li {
        max-width: 100%;
    }
}
.projects {
    list-style: none;
    padding: 0;
}
.projects li {
    padding: 2rem;
}
.contact {
    text-align: center;
}


/* Utility Classes */

.sr-only {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.button {
    border: none;
    padding: 0.5rem;
}
.banner-heading {
    background-color: #eee2f3;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.125rem;
    border-top-width: 0.125rem;
    margin: 0 0 1.875rem;
    padding: 2.5rem 1.25rem;
    text-align: center;
}