@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(./fonts/inconsolata-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(./fonts/inconsolata-500.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/poppins-500.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/poppins-600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/poppins-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/poppins-800.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/source-sans-3-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/source-sans-3-600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/source-sans-3-800.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(./fonts/urbanist-100-900.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #f8f3f9;
}

body {
    color: #12121c;
    font-family: "Inconsolata", monospace, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p,
ul,
ol {
    font-size: 1.125rem;
    line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 1.25rem;
    margin: 1.25rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

p a,
li a {
    text-decoration: underline;
}

ul,
ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

section>div {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;
}

form {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 1.25rem;
    text-align: left;
}

form button {
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

fieldset {
    border: 0;
    margin-bottom: 1.25rem;
    padding: 0;
}

label {
    display: inline-block;
    font-size: 1.25rem;
    margin: 1rem 0;
}

input,
textarea {
    background-color: #f8f3f9;
    border: 0.125rem solid;
    border-radius: 0.125rem;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.125rem;
    padding: 0.625rem;
    width: 100%;
}

.flex {
    display: flex;
}

*::placeholder {
    color: #73738c;
    font-weight: 300;
    opacity: 1;
}

a,
a>*,
.button {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 0.125rem solid #6F00F7;
}

footer {
    text-align: center;
}

.disclaimer {
    background-image: linear-gradient(90deg, #655d98 0%, #ae4971 50%, #794e8e 70%);
    color: white;
    margin: 0;
    padding: 1.25rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    display: block;
    font-weight: 500;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
    max-width: 33.33%;
}

.projects {
    list-style: none;
    padding: 0;
}

.projects li {
    padding: 2rem;
}

.contact {
    text-align: center;
}


/* Utility Classes */

.sr-only {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    background-color: #12121c;
    border: none;
    color: #e5d4ed;
    font-family: inherit;
    text-decoration: none;
    padding: 0.5rem;
}

.button:hover,
.button:focus-visible {
    background-color: #eee3f2;
    color: #12121c;
}

.gradient-border {
    border-image-slice: 1;
}

.gradient-border:not(.inverted) {
    border-image-source: linear-gradient(90deg, #a8a1d9 0%, #ae4971 50%, #794e8e 70%);
}

.gradient-border.inverted {
    border-image-source: linear-gradient(90deg, #794e8e, #ae4971 50%, #a8a1d9 70%);
}

.banner-heading {
    background-color: #eee2f3;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.125rem;
    border-top-width: 0.125rem;
    margin: 0 0 1.875rem;
    padding: 2.5rem 1.25rem;
    text-align: center;
}