.trigger-on-scroll {
    opacity: 0;
    transition:
        opacity 1s ease,
        left 1s ease,
        right 1s ease;
    &[data-active="true"] {
        opacity: 1;
    }
    @media (max-width: 900px) {
        opacity: 1;
    }
    &.slide-in-left {
        left: -100%;
        &[data-active="true"] {
            left: 0%;
        }
        @media (max-width: 900px) {
            left: 0%;
        }
    }
    &.slide-in-right {
        right: -100%;
        &[data-active="true"] {
            right: 0%;
        }
        @media (max-width: 900px) {
            right: 0%;
        }
    }
    @media (prefers-reduced-motion: reduce) {
        opacity: 1;
        &.slide-in-left {
            left: 0;
        }
        &.slide-in-right {
            right: 0;
        }
    }
}
