@import "./styles/sanitize";
@import "./styles/boilerplate";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/header";
@import "./styles/footer";

/* Stabilizing Base Styles */
p {
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

fieldset {
	border: none;
	padding: 0;
}

/* Convenient Classes */

.button {
	padding: 16px;
	text-align: center;
	background-color: $black;
	color: $pinkwhite;
	border-radius: 1px;
	font-family: inherit;
	text-decoration: none;
	&:hover, &:focus-visible {
		background-color: $pinkwhite;
		color: $black;
	}
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.no-pointer {
	pointer-events: none;
}

.label-text {
	display: inline-block;
	background-image: linear-gradient(90deg, #7868bf 0%, $gradientpink 50%, $gradientpurple 70%);
	color: $white;
	padding: 0 5px;
	margin: $base-margin;
	font-family: "Inconsolata", monospace;
	font-weight: 500;
}

.gradient-border {
	border-image-slice: 1;
	&:not(.inverted) {
		border-image-source: linear-gradient(90deg, $gradientlightpurple 0%, $gradientpink 50%, $gradientpurple 70%);
	}
	&.inverted {
		border-image-source: linear-gradient(90deg,$gradientpurple,$gradientpink 50%,$gradientlightpurple 70%);
	}
}

.overlay {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		@include positioning (0, 0, 0, 0);
		background-image: radial-gradient(rgba(255, 255, 255, 0.743) 0%, rgba(255, 255, 255, 0.498) 100%);
	}
	> * {
		position: relative;
	}
}

.separator {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		@include positioning(auto, auto, -12px, 20px);
		height: 11px;
		width: 22px;
		background-color: $purple;
	}
}

ol.numbered-icons {
	list-style: none;
	counter-reset: circle;
	li {
		counter-increment: circle;
		padding: 12px 0 12px 20px;
		position: relative;
		&:before {
			background: $purple;
			border-radius: 50%;
			color: #fbfdff;
			content: counter(circle) "";
			font-weight: 600;
			font-family: "Poppins", sans-serif;
			padding: 4px;
			position: absolute;
			text-align: center;
			@include positioning(50%, auto, auto, -20px);
			transform: translateY(-50%);
			height: 30px;
			width: 30px;
			box-sizing: border-box;
			margin-right: 20px;
			font-size: 17.5px;
		}
	}
}


.oval {
	background: $lightpurple;
	border-radius: 50%;
	opacity: 0.1;
	position: absolute;
	@include positioning(5%, 0, 0, 0);
	transition: all 2s;
	z-index: 0;
  }

  .banner-heading {
    margin: 0 0 30px;
    border-bottom: 2px solid;
    padding: 40px 20px;
    background-color: #{$pink}78;
  }

// Custom
html {
	background-color: $white;
}

body {
	color: $black;
	font-family: "Inconsolata", monospace;
}
main {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

label {
	margin: 16px 0;
	display: inline-block;
	font-size: 20px;
}

input,
textarea {
	font-family: "Source Sans 3", sans-serif;
	background-color: #f8f3f9;
	border: 2px solid;
	padding: 10px;
	border-radius: 2px;
	font-size: 18px;
}

::placeholder {
	color: #73738c;
	opacity: 1;
	font-weight: 300;
}

a,
a > *,
.button {
	transition: color $timing-function, background-color $timing-function;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
	outline: 2px solid $lightpurple;
}

.svg-inline--fa {
	vertical-align: middle;
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
}

//SKIP TO CONTENT
.skip-link {
	position: absolute;
	@include positioning(5px, auto, auto, -1000px);
	z-index: 999999;
	&:focus {
		left: 0;
		margin-left: 10px;
	}
}

/* Animation */
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.typewriter {
	overflow: hidden;
	border-right: 1.5px solid $purple;
	white-space: nowrap;
	margin: 0 auto 0 0;
	letter-spacing: 0.15em;
	width: 160px;
	animation:
		typing 3.5s steps(40, end),
		blink-caret 0.75s step-end infinite,
		border-fade 0s 1.5s forwards;
	position: relative;
	display: inline-block;
	@media (prefers-reduced-motion: reduce) {
		animation: none;
		border-right: none;
	}
}


@keyframes typing {
	from {
		max-width: 0;
	}
	to {
		max-width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #aab9bb;
	}
}

@keyframes border-fade {
	to {
		border-color: transparent;
	}
}

@media (prefers-contrast: more) and (forced-colors: none) {
	html, input, textarea, .banner-heading, header, footer {
		background-color: white;
	} 
	.button {
		color: white;
	}
	::placeholder {
		color: black;
	}
	.oval {
		display: none;
	}
	.overlay:before {
		background-color: #ffffff57;
	}
}