@use "./styles/abstracts/index" as *;
@import "./styles/base/sanitize";
@import "./styles/base/boilerplate";
@import "./styles/font-face/googleFontFace";
@import "./styles/components/header";
@import "./styles/components/footer";

html {
	background-color: $white;
}

body {
	color: $black;
	font-family: $inconsolata;
}
main {
	position: relative;
}

p {
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
	font-family: $poppins;
	font-weight: 500;
}

img {
	height: auto;
	width: 100%;
}

fieldset {
	border: none;
	padding: 0;
}

label {
	display: inline-block;
	font-size: 20px;
	margin: 16px 0;
}

input,
textarea {
	background-color: #f8f3f9;
	border: 2px solid;
	border-radius: 2px;
	font-family: $sourceSans;
	font-size: 18px;
	padding: 10px;
}

::placeholder {
	color: #73738c;
	font-weight: 300;
	opacity: 1;
}

a,
a > *,
.button {
	transition:
		color $timing-function,
		background-color $timing-function;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
	outline: 2px solid $lightPurple;
}

.svg-inline--fa {
	vertical-align: middle;
}

.sr-only {
	clip-path: inset(50%);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	height: 1px;
	width: 1px;
}

/* Utility Classes */

.skip-link {
	position: absolute;
	z-index: 999999;
	@include positioning(5px, auto, auto, -1000px);
	&:focus {
		left: 0;
		margin-left: 10px;
	}
}

.button {
	background-color: $black;
	border-radius: 1px;
	color: $pink;
	font-family: inherit;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	&:hover,
	&:focus-visible {
		background-color: $pinkWhite;
		color: $black;
	}
}

.App .hidden:not(#_) {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.no-pointer {
	pointer-events: none;
}

.label-text {
	background-image: linear-gradient(90deg, #7868bf 0%, $gradientPink 50%, $gradientPurple 70%);
	color: $white;
	display: inline-block;
	font-family: $inconsolata;
	font-weight: 500;
	margin: $base-margin;
	padding: 0 5px;
}

.gradient-border {
	border-image-slice: 1;
	&:not(.inverted) {
		border-image-source: linear-gradient(90deg, $gradientLightPurple 0%, $gradientPink 50%, $gradientPurple 70%);
	}
	&.inverted {
		border-image-source: linear-gradient(90deg, $gradientPurple, $gradientPink 50%, $gradientLightPurple 70%);
	}
}

.overlay {
	position: relative;
	&:before {
		background-image: $radialOverlay;
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		@include positioning(0, 0, 0, 0);
	}
	> * {
		position: relative;
	}
}

.separator {
	position: relative;
	&:after {
		background-color: $purple;
		content: "";
		position: absolute;
		height: 11px;
		width: 22px;
		@include positioning(auto, auto, -12px, 20px);
	}
}

ol.numbered-icons {
	counter-reset: circle;
	list-style: none;
	li {
		counter-increment: circle;
		padding: 12px 0 12px 20px;
		position: relative;
		&:before {
			background: $purple;
			border-radius: 50%;
			color: #fbfdff;
			content: counter(circle) "";
			font-family: $poppins;
			font-size: 17.5px;
			font-weight: 600;
			margin-right: 20px;
			padding: 4px;
			position: absolute;
			text-align: center;
			transform: translateY(-50%);
			height: 30px;
			width: 30px;
			@include positioning(50%, auto, auto, -20px);
		}
	}
}

.oval {
	background: $lightPurple;
	border-radius: 50%;
	opacity: 0.1;
	position: absolute;
	z-index: 0;
	@include positioning(5%, 0, 0, 0);
}

.banner-heading {
	background-color: #{$pink}78;
	border-bottom: 2px solid;
	margin: 0 0 30px;
	padding: 40px 20px;
}

@media (prefers-contrast: more) and (forced-colors: none) {
	html,
	input,
	textarea,
	.banner-heading,
	header,
	footer {
		background-color: white;
	}
	.button {
		color: white;
	}
	::placeholder {
		color: black;
	}
	.oval {
		display: none;
	}
	.overlay:before {
		background-color: #ffffff57;
	}
}
