header {
  background-color: #f4eef6;
  border-top-width: 34px;
  box-shadow: 0 1px 3px -3px #12121c;
  z-index: 999999;
  position: sticky;
  bottom: auto;
  left: 0;
  right: 0;
  top: -34px;
}
header .logo p {
  font-family: "Urbanist", sans-serif;
}
header .closer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
header .hamburger[aria-expanded=true] ~ .closer {
  display: block;
}
header nav.menu ul > li a {
  transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  nav.menu ul {
    box-shadow: 0 2px 16px -9px #12121c;
    grid-area: 2/1/1 span/2 span;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
    position: relative;
    bottom: auto;
    left: auto;
    right: 0;
    top: 26px;
  }
  .hamburger[aria-expanded=true] ~ ul {
    transform: scaleX(1);
  }
  .hamburger .line {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #a8a1d9 0%, #ae4971 50%, #794e8e 70%);
    filter: brightness(0.9);
    transform: rotate(0);
    transition: 0.2s ease-in-out;
  }
  .hamburger .line:first-child {
    top: 8px;
  }
  .hamburger .line:nth-child(2), .hamburger .line:nth-child(3) {
    top: 16px;
  }
  .hamburger .line:nth-child(4) {
    top: 24px;
  }
  .hamburger[aria-expanded=true] .line:first-child, .hamburger[aria-expanded=true] .line:nth-child(4) {
    position: absolute;
    bottom: auto;
    left: 15px;
    right: auto;
    top: 21px;
    border: none;
    width: 0;
  }
  .hamburger[aria-expanded=true] .line:nth-child(2) {
    transform: rotate(45deg);
  }
  .hamburger[aria-expanded=true] .line:nth-child(3) {
    transform: rotate(-45deg);
  }
}
footer p:first-child {
  font-family: "Urbanist", sans-serif;
}

footer p:nth-child(2) span {
  margin-right: 2px;
}

html {
  background-color: whitesmoke;
}

body {
  font-family: "Inconsolata", monospace;
}

p,
ul,
ol {
  font-size: 18px;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 20px;
  margin: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

p a,
li a {
  text-decoration: underline;
}

ul,
ol {
  margin-top: 16px;
  margin-bottom: 16px;
}

fieldset {
  border: none;
  padding: 0;
}

label {
  display: inline-block;
  font-size: 20px;
  margin: 16px 0;
}

input,
textarea {
  background-color: #f8f3f9;
  border: 2px solid;
  border-radius: 2px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  padding: 10px;
}

*:not(.flex) > *[class*=max-] {
  margin-left: auto;
  margin-right: auto;
}

.App ::-moz-placeholder {
  color: #73738c;
  font-weight: 300;
  opacity: 1;
}

.App ::placeholder {
  color: #73738c;
  font-weight: 300;
  opacity: 1;
}

a,
a > *,
.button {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #6F00F7;
}

.fa,
.fa-regular,
.fa-solid,
.fa-brands {
  font-family: "Font Awesome 6 Free";
}

.svg-inline--fa {
  vertical-align: middle;
}

/* Utility Classes */
.content-link {
  z-index: 999999;
}

.button {
  background-color: #12121c;
  border-radius: 1px;
  color: #e5d4ed;
  font-family: inherit;
  text-decoration: none;
}
.button:hover, .button:focus-visible {
  background-color: #eee3f2;
  color: #12121c;
}

.App .hidden:not(#_) {
  display: none;
}

.gradient-border {
  border-image-slice: 1;
}
.gradient-border:not(.inverted) {
  border-image-source: linear-gradient(90deg, #a8a1d9 0%, #ae4971 50%, #794e8e 70%);
}
.gradient-border.inverted {
  border-image-source: linear-gradient(90deg, #794e8e, #ae4971 50%, #a8a1d9 70%);
}

.overlay {
  position: relative;
}
.overlay:before {
  background-image: radial-gradient(rgba(255, 255, 255, 0.743) 0%, rgba(255, 255, 255, 0.498) 100%);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.overlay > * {
  position: relative;
}

.separator {
  position: relative;
}
.separator:after {
  background-color: #794e8d;
  content: "";
  height: 11px;
  width: 22px;
  position: absolute;
  bottom: -12px;
  left: 20px;
  right: auto;
  top: auto;
}

.small-page {
  padding: 30px 0 13vh;
}

ol.numbered-icons {
  counter-reset: circle;
  list-style: none;
}
ol.numbered-icons li {
  counter-increment: circle;
  padding: 12px 0 12px 20px;
  position: relative;
}
ol.numbered-icons li:before {
  background: #794e8d;
  border-radius: 50%;
  color: #fbfdff;
  content: counter(circle) "";
  font-family: "Poppins", sans-serif;
  font-size: 17.5px;
  font-weight: 600;
  margin-right: 20px;
  padding: 4px;
  text-align: center;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: auto;
  left: -20px;
  right: auto;
  top: 50%;
}

.oval {
  background: #a8a0d9;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 5%;
}

.banner-heading {
  background-color: #eee2f3;
  border-bottom: 2px solid;
  margin: 0 0 30px;
  padding: 40px 20px;
}

@media (prefers-contrast: more) and (forced-colors: none) {
  html,
  input,
  textarea,
  .banner-heading,
  header,
  footer {
    background-color: white;
  }
  .button {
    color: white;
  }
  ::-moz-placeholder {
    color: black;
  }
  ::placeholder {
    color: black;
  }
  .oval {
    display: none;
  }
  .overlay:before {
    background-color: rgba(255, 255, 255, 0.3411764706);
  }
}/*# sourceMappingURL=App.css.map */